[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
keras = "*"
flask = "*"
python-dotenv = "*"
gunicorn = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
