[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow = "*"
flask = "*"
python-dotenv = "*"
gunicorn = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.9"
